In [1]:
import pandas as pd

In [117]:
# Read in data used to generate a FIPS code map
fips = pd.read_csv(
    "../../data/raw/Social_Vulnerability_Index_2020_US_COUNTY.csv", engine="python"
)
fips = fips[["STATE", "COUNTY", "FIPS"]]
fips = fips.rename(columns={"STATE": "State", "COUNTY": "County", "FIPS": "fips"})
fips

        State      County   fips
0     Alabama     Autauga   1001
1     Alabama     Baldwin   1003
2     Alabama     Barbour   1005
3     Alabama        Bibb   1007
4     Alabama      Blount   1009
...       ...         ...    ...
3138  Wyoming  Sweetwater  56037
3139  Wyoming       Teton  56039
3140  Wyoming       Uinta  56041
3141  Wyoming    Washakie  56043
3142  Wyoming      Weston  56045

[3143 rows x 3 columns]

In [118]:
# Read in raw data
df = pd.read_csv(
    "../../data/raw/annual_aqi_by_county_2010.csv", engine="python"
)
df

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days PM2.5,Days PM10
0,Alabama,Baldwin,2010,274,188,80,6,0,0,0,150,71,43,0,0,192,82,0
1,Alabama,Clay,2010,113,79,34,0,0,0,0,86,60,42,0,0,0,113,0
2,Alabama,Colbert,2010,355,208,146,1,0,0,0,105,67,47,0,0,114,241,0
3,Alabama,DeKalb,2010,358,248,106,4,0,0,0,101,74,43,0,0,303,55,0
4,Alabama,Elmore,2010,241,181,55,5,0,0,0,112,71,43,0,0,241,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1071,Wyoming,Sheridan,2010,365,333,32,0,0,0,0,95,46,21,0,0,0,97,268
1072,Wyoming,Sublette,2010,365,250,113,2,0,0,0,112,67,47,0,2,347,16,0
1073,Wyoming,Sweetwater,2010,365,255,107,3,0,0,0,112,66,45,0,6,314,7,38
1074,Wyoming,Teton,2010,365,281,84,0,0,0,0,90,61,44,4,0,355,4,2
1075,Wyoming,Uinta,2010,364,286,76,2,0,0,0,135,61,44,0,3,350,0,11

In [119]:
# Remove rows outside the US
df = df[(df["State"] != "Country Of Mexico") & (df["State"] != "Puerto Rico") & (df["State"] != "Virgin Islands")]

# Fix county names
df.loc[(df["State"] == "Virginia") & (df["County"] == "Charles"), "County"] = "Charles City"
df.loc[(df["State"] == "New Mexico") & (df["County"] == "Dona Ana"), "County"] = "Doña Ana"
df.loc[(df["State"] == "Minnesota") & (df["County"] == "Saint Louis"), "County"] = "St. Louis"
df.loc[(df["State"] == "Missouri") & (df["County"] == "Saint Louis"), "County"] = "St. Louis"
df.loc[(df["State"] == "Missouri") & (df["County"] == "Saint Charles"), "County"] = "St. Charles"
df.loc[(df["State"] == "Missouri") & (df["County"] == "Sainte Genevieve"), "County"] = "Ste. Genevieve"
df.loc[(df["State"] == "Maryland") & (df["County"] == "Baltimore (City)"), "County"] = "Baltimore City"
df.loc[(df["State"] == "Illinois") & (df["County"] == "Saint Clair"), "County"] = "St. Clair"
df.loc[(df["State"] == "Illinois") & (df["County"] == "La Salle"), "County"] = "LaSalle"
df.loc[(df["State"] == "District Of Columbia") & (df["County"] == "District of Columbia"), "State"] = "District of Columbia"
df.loc[(df["State"] == "Alaska") & (df["County"] == "Kenai Peninsula "), "County"] = "Kenai Peninsula"
df.loc[(df["State"] == "Alaska") & (df["County"] == "Juneau "), "County"] = "Juneau City and Borough"
df.loc[(df["State"] == "Alaska") & (df["County"] == "Aleutians East "), "County"] = "Aleutians East"
df.loc[(df["State"] == "Alaska") & (df["County"] == "Anchorage "), "County"] = "Anchorage"
df.loc[(df["State"] == "Alaska") & (df["County"] == "Denali "), "County"] = "Denali"
df.loc[(df["State"] == "Alaska") & (df["County"] == "Fairbanks North Star "), "County"] = "Fairbanks North Star"
df.loc[(df["State"] == "Alaska") & (df["County"] == "Matanuska-Susitna "), "County"] = "Matanuska-Susitna"
df.loc[(df["State"] == "Alaska") & (df["County"] == "Yukon-Koyukuk "), "County"] = "Yukon-Koyukuk"

df

/home/agale/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days PM2.5,Days PM10
0,Alabama,Baldwin,2010,274,188,80,6,0,0,0,150,71,43,0,0,192,82,0
1,Alabama,Clay,2010,113,79,34,0,0,0,0,86,60,42,0,0,0,113,0
2,Alabama,Colbert,2010,355,208,146,1,0,0,0,105,67,47,0,0,114,241,0
3,Alabama,DeKalb,2010,358,248,106,4,0,0,0,101,74,43,0,0,303,55,0
4,Alabama,Elmore,2010,241,181,55,5,0,0,0,112,71,43,0,0,241,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1071,Wyoming,Sheridan,2010,365,333,32,0,0,0,0,95,46,21,0,0,0,97,268
1072,Wyoming,Sublette,2010,365,250,113,2,0,0,0,112,67,47,0,2,347,16,0
1073,Wyoming,Sweetwater,2010,365,255,107,3,0,0,0,112,66,45,0,6,314,7,38
1074,Wyoming,Teton,2010,365,281,84,0,0,0,0,90,61,44,4,0,355,4,2
1075,Wyoming,Uinta,2010,364,286,76,2,0,0,0,135,61,44,0,3,350,0,11

In [120]:
df = df.set_index(["State", "County"]).join(fips.set_index(["State", "County"])).reset_index()
df

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days PM2.5,Days PM10,fips
0,Alabama,Baldwin,2010,274,188,80,6,0,0,0,150,71,43,0,0,192,82,0,1003
1,Alabama,Clay,2010,113,79,34,0,0,0,0,86,60,42,0,0,0,113,0,1027
2,Alabama,Colbert,2010,355,208,146,1,0,0,0,105,67,47,0,0,114,241,0,1033
3,Alabama,DeKalb,2010,358,248,106,4,0,0,0,101,74,43,0,0,303,55,0,1049
4,Alabama,Elmore,2010,241,181,55,5,0,0,0,112,71,43,0,0,241,0,0,1051
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1058,Wyoming,Sheridan,2010,365,333,32,0,0,0,0,95,46,21,0,0,0,97,268,56033
1059,Wyoming,Sublette,2010,365,250,113,2,0,0,0,112,67,47,0,2,347,16,0,56035
1060,Wyoming,Sweetwater,2010,365,255,107,3,0,0,0,112,66,45,0,6,314,7,38,56037
1061,Wyoming,Teton,2010,365,281,84,0,0,0,0,90,61,44,4,0,355,4,2,56039
1062,Wyoming,Uinta,2010,364,286,76,2,0,0,0,135,61,44,0,3,350,0,11,56041

In [121]:
df["unhealthy_air_days"] = df["Unhealthy for Sensitive Groups Days"] + df["Unhealthy Days"] + df["Very Unhealthy Days"] + df["Hazardous Days"]
df = df.rename(columns = {"Median AQI": "median_aqi"})
df

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,median_aqi,Days CO,Days NO2,Days Ozone,Days PM2.5,Days PM10,fips,unhealthy_air_days
0,Alabama,Baldwin,2010,274,188,80,6,0,0,0,150,71,43,0,0,192,82,0,1003,6
1,Alabama,Clay,2010,113,79,34,0,0,0,0,86,60,42,0,0,0,113,0,1027,0
2,Alabama,Colbert,2010,355,208,146,1,0,0,0,105,67,47,0,0,114,241,0,1033,1
3,Alabama,DeKalb,2010,358,248,106,4,0,0,0,101,74,43,0,0,303,55,0,1049,4
4,Alabama,Elmore,2010,241,181,55,5,0,0,0,112,71,43,0,0,241,0,0,1051,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1058,Wyoming,Sheridan,2010,365,333,32,0,0,0,0,95,46,21,0,0,0,97,268,56033,0
1059,Wyoming,Sublette,2010,365,250,113,2,0,0,0,112,67,47,0,2,347,16,0,56035,2
1060,Wyoming,Sweetwater,2010,365,255,107,3,0,0,0,112,66,45,0,6,314,7,38,56037,3
1061,Wyoming,Teton,2010,365,281,84,0,0,0,0,90,61,44,4,0,355,4,2,56039,0
1062,Wyoming,Uinta,2010,364,286,76,2,0,0,0,135,61,44,0,3,350,0,11,56041,2

In [122]:
df = df[["fips", "unhealthy_air_days", "median_aqi"]]
df

       fips  unhealthy_air_days  median_aqi
0      1003                   6          43
1      1027                   0          42
2      1033                   1          47
3      1049                   4          43
4      1051                   5          43
...     ...                 ...         ...
1058  56033                   0          21
1059  56035                   2          47
1060  56037                   3          45
1061  56039                   0          44
1062  56041                   2          44

[1063 rows x 3 columns]

In [123]:
# Write out the cleaned data
df.to_csv("../../data/processed/air_quality.csv", index=False)