In [24]:
import pandas as pd
import numpy as np
import math

In [25]:
# Read in raw data
df = pd.read_csv("../../data/raw/FoodAccessResearchAtlasData2019.csv")
df

,CensusTract,State,County,Urban,Pop2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
0,1001020100,Alabama,Autauga County,1,1912,693,0,0.0,0.00,0,...,221.0,1622.0,217.0,14.0,0.0,14.0,45.0,44.0,6.0,102.0
1,1001020200,Alabama,Autauga County,1,2170,743,0,181.0,8.34,1,...,214.0,888.0,1217.0,5.0,0.0,5.0,55.0,75.0,89.0,156.0
2,1001020300,Alabama,Autauga County,1,3373,1256,0,0.0,0.00,0,...,439.0,2576.0,647.0,17.0,5.0,11.0,117.0,87.0,99.0,172.0
3,1001020400,Alabama,Autauga County,1,4386,1722,0,0.0,0.00,0,...,904.0,4086.0,193.0,18.0,4.0,11.0,74.0,85.0,21.0,98.0
4,1001020500,Alabama,Autauga County,1,10766,4082,0,181.0,1.68,0,...,1126.0,8666.0,1437.0,296.0,9.0,48.0,310.0,355.0,230.0,339.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72526,56043000200,Wyoming,Washakie County,0,3326,1317,0,57.0,1.71,0,...,593.0,3106.0,6.0,15.0,0.0,27.0,172.0,309.0,61.0,64.0
72527,56043000301,Wyoming,Washakie County,1,2665,1154,0,10.0,0.38,0,...,399.0,2377.0,5.0,23.0,0.0,40.0,220.0,446.0,88.0,41.0
72528,56043000302,Wyoming,Washakie County,1,2542,1021,0,73.0,2.87,0,...,516.0,2312.0,11.0,10.0,1.0,26.0,182.0,407.0,23.0,64.0
72529,56045951100,Wyoming,Weston County,0,3314,1322,0,252.0,7.60,0,...,499.0,3179.0,15.0,10.0,1.0,47.0,62.0,91.0,47.0,34.0
72530,56045951300,Wyoming,Weston County,1,3894,1699,0,61.0,1.57,0,...,650.0,3706.0,6.0,10.0,2.0,44.0,126.0,125.0,34.0,110.0

In [26]:
# Create a column for county level fips
df["fips"] = (df["CensusTract"] / 1000000).apply(np.floor).astype(int)

In [27]:
# Limit to columns of interest
df = df[["fips", "LALOWI1_10", "Pop2010"]]
# Group by fips to aggregate all tracts in each county
df = df.groupby("fips").sum().reset_index()
df

       fips  LALOWI1_10  Pop2010
0      1001      7106.0    54571
1      1003     14468.0   182265
2      1005      2864.0    27457
3      1007       102.0    22915
4      1009      1440.0    57322
...     ...         ...      ...
3137  56037      2289.0    43806
3138  56039       812.0    21294
3139  56041       290.0    21118
3140  56043       262.0     8533
3141  56045       631.0     7208

[3142 rows x 3 columns]

In [28]:
# Divide out the population living in low income, low access areas by the county poulation
# to find the low income, low access share of the population
df["low_income_low_access_share"] = df["LALOWI1_10"] / df["Pop2010"]
df

       fips  LALOWI1_10  Pop2010  low_income_low_access_share
0      1001      7106.0    54571                     0.130216
1      1003     14468.0   182265                     0.079379
2      1005      2864.0    27457                     0.104309
3      1007       102.0    22915                     0.004451
4      1009      1440.0    57322                     0.025121
...     ...         ...      ...                          ...
3137  56037      2289.0    43806                     0.052253
3138  56039       812.0    21294                     0.038133
3139  56041       290.0    21118                     0.013732
3140  56043       262.0     8533                     0.030704
3141  56045       631.0     7208                     0.087542

[3142 rows x 4 columns]

In [29]:
# Remove intermediate columns
df = df[["fips", "low_income_low_access_share"]]
df

       fips  low_income_low_access_share
0      1001                     0.130216
1      1003                     0.079379
2      1005                     0.104309
3      1007                     0.004451
4      1009                     0.025121
...     ...                          ...
3137  56037                     0.052253
3138  56039                     0.038133
3139  56041                     0.013732
3140  56043                     0.030704
3141  56045                     0.087542

[3142 rows x 2 columns]

In [30]:
# Write out the cleaned data
df.to_csv("../../data/processed/food_access.csv", index=False)